
button{
  background-color: #fff;
  cursor: pointer;
  border-radius: 6px;
  border: 0.5px gray solid;
}

input{
  border: 0.5px gray solid
}

.container{
  padding-inline: 30px;
  padding-block: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}

.heading{
  font-weight: bold;
  color: black;
}

.input_form_row{
  display: flex;
  column-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
}

.message_container{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  padding-block: 10px;
  border-top: 1px dashed grey;
  flex-wrap: wrap;
}

.message_container_row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
}

.message_text{
  /* display: flex; */
  color: gray;
  word-break: break-word;
}

.delete_button{
  text-decoration: underline;
  color: blue;
  border: none;
}

.delete_all_button{
  color: red;
  font-weight: bold;
}